/* TODO Add site wide styles */
.sticky-nav {
    position: sticky;
    top: 0;
  }

.fullScreen {
    max-height: 100vh;
}

.partScreen {
    max-height: 89vh;
}

.bg-darker {
    background-color: rgb(39, 39, 39);
}

.border-darker {
    border-color: rgb(20, 20, 20);
}

.bg-chat {
    background-color: #41484e
}
.bg-chatbox {
    background-color: #565e66
}

.small-letters {
    font-size: .75em
}

.large-letters {
    font-size: 1.5em
}

.sky {
    background-color: rgb(196, 215, 252);
}

.land-width {
    width: 300px;
}

.noBorder {
    border: none!important;
    box-shadow: none!important;
}
