/* TODO Add site wide styles */
.sticky-nav {
    position: sticky;
    top: 0;
  }

.fullScreen {
    height: 100vh;
}

.messages-3amgkR {
    margin: 100px;
    overflow-x: hidden;
    background-color: var(--background-primary);
    contain: size;
}

.scroller-3sQKXg {
    overflow-anchor: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}
